<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Carbono - Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/toast/toast.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/auth/login.css'>
</head>

<body>
<div class="body">

<form method="POST" action="login">
</div>
		<div class="grad"></div>
		<div class="header">
			<div>Site<span>Random</span></div>
		</div>
		<br>
		<div class="login">
				<input id="username" type="text" placeholder="Username" name="username" autocomplete="off">
				<input id="password" type="password" placeholder="Password" name="password" autocomplete="off">
				<input type="submit" value="Login">
				<br>
				<p class="hrefRegister" >Si no estas registrado.</p>
				<a href="register"> <strong> Registrate! </strong> </a>

		</div>

</form>



{{#error}}
<div id="toast" class="toast-error toast-fadein">
	<ul>
		<li>{{error}}</li>
	</ul>
</div>
{{/error}}

</body>

</html>