<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Carbono - Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/toast/toast.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/auth/login.css'>
</head>

<body>

    <form id="login-form" method="POST" action="login">
        <div class="form-field">
            <input id="username" type="text" placeholder="Username" name="username" autocomplete="off">
        </div>
        <div class="form-field">
            <input id="password" type="password" placeholder="Password" name="password" autocomplete="off">
        </div>

        <div class="form-footer">
            <input class="login-button" type="submit" value="Login">
        </div>
    </form>
    
    {{#error}}
    <div id="toast" class="toast-error toast-fadein">
        <ul>
            <li>{{error}}</li>
        </ul>
    </div>
    {{/error}}

</body>

</html>