<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Carbono - Register</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/toast/toast.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/auth/register.css'>
    <script src='/js/jquery.min.js'></script>
</head>

<body>

    <form id="register-form" metod="POST" action="register">
        
        <div class="form-field">
            <input id="username" type="text" placeholder="Username" name="username" autocomplete="off">
        </div>

        <div class="form-field">
            <input id="password" type="password" placeholder="Password" name="password" autocomplete="off">
        </div>

        <div class="form-field">
            <select id="rol" name="rol ">
                <option>Administrador</option>
                <option>Miembro</option>
                <option>Organizacion</option>
                <option>Agente_Sectorial</option>
            </select>
        </div>

        <div class="form-footer">
            <input class="register-button" type="submit" value="Register">
        </div>
    </form>
    
    <div id="toast"></div>
    
    <script src="/js/toast/toast.js"></script>
    <script src="/js/auth/register.js"></script>

</body>

</html>