.vscode
.idea
*/.vscode/
*/.idea/
*/target/
.apt_generated_tests/
*/.apt_generated_tests/
*.log
*.out
localhost_access_log*.txt
environment/tomcat/temp/
environment/tomcat/webapps/ROOT
environment/tomcat/webapps/ROOT.war
environment/stable.war
target

modules/combos/

*/lib/
modules/ExcelReader/lib/
modules/passwords/lib/
**/node_modules
*/node_modules

