html,body {
    background-color: #030303;
    color: #FFFFFF;
    margin: 0px !important;
}

.logo-image {
    width: 50px;
}

.authenticated-toolbar {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1000;
    margin: 0 !important;
    border: none !important;
    height: 80px;
}

.main-layout {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding-top:90px;
    width: 100%;
    margin: 0;
}

.sidebar {
    width:255px; 
    background: #141414; 
    padding:2px
}

.sidebar-menu  {
    width: auto !important;
    border: none;
}

.login-form {
    min-width: 25vw;
}

.login-form .p-card-body {
    padding: 0 !important;
}

.login-form .p-card-body .p-card-content {
    display: grid;
    place-items: center;
    margin: 0 !important;
    padding: 20px 20px;
    padding-top: 35px;
}

.login-form .p-card-body .p-card-content div {
    width: 100%;
    display: grid;
    place-items: center;
}

.authenticated-toolbar {
    z-index: 10000
}

.spa-view {
    position: absolute;
    left: 255px;
    top: 80px;
    width: 100%;
}

.organization-type .p-element {
    width: 100% !important;
}


:host ::ng-deep .speeddial-linear-demo .p-speeddial-direction-up {
    left: calc(50% - 2rem);
    bottom: 0;
}

:host ::ng-deep .speeddial-linear-demo .p-speeddial-direction-down {
    left: calc(50% - 2rem);
    top: 0;
}

:host ::ng-deep .speeddial-linear-demo .p-speeddial-direction-left {
    right: 0;
    top: calc(50% - 2rem);
}

:host ::ng-deep .speeddial-linear-demo .p-speeddial-direction-right {
    left: 0;
    top: calc(50% - 2rem);
}

:host ::ng-deep .speeddial-circle-demo .p-speeddial-circle {
    top: calc(50% - 2rem);
    left: calc(50% - 2rem);
}

:host ::ng-deep .speeddial-circle-demo .p-speeddial-semi-circle.p-speeddial-direction-up {
    left: calc(50% - 2rem);
    bottom: 0;
}

:host ::ng-deep .speeddial-circle-demo .p-speeddial-semi-circle.p-speeddial-direction-down {
    left: calc(50% - 2rem);
    top: 0;
}

:host ::ng-deep .speeddial-circle-demo .p-speeddial-semi-circle.p-speeddial-direction-left {
    right: 0;
    top: calc(50% - 2rem);
}

:host ::ng-deep .speeddial-circle-demo .p-speeddial-semi-circle.p-speeddial-direction-right {
    left: 0;
    top: calc(50% - 2rem);
}

:host ::ng-deep .speeddial-circle-demo .p-speeddial-quarter-circle.p-speeddial-direction-up-left {
    right: 0;
    bottom: 0;
}

:host ::ng-deep .speeddial-circle-demo .p-speeddial-quarter-circle.p-speeddial-direction-up-right {
    left: 0;
    bottom: 0;
}

:host ::ng-deep .speeddial-circle-demo .p-speeddial-quarter-circle.p-speeddial-direction-down-left {
    right: 0;
    top: 0;
}

:host ::ng-deep .speeddial-circle-demo .p-speeddial-quarter-circle.p-speeddial-direction-down-right {
    left: 0;
    top: 0;
}

:host ::ng-deep .speeddial-tooltip-demo .p-speeddial-direction-up.speeddial-left {
    left: 0;
    bottom: 0;
}

:host ::ng-deep .speeddial-tooltip-demo .p-speeddial-direction-up.speeddial-right {
    right: 0;
    bottom: 0;
}

:host ::ng-deep .speeddial-delay-demo .p-speeddial-direction-up {
    left: calc(50% - 2rem);
    bottom: 0;
}

:host ::ng-deep .speeddial-mask-demo .p-speeddial-direction-up {
    right: 0;
    bottom: 0;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 20px
}

.fixed-bottom-right {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 75px; 
    width: 60px; 
    float: right; 
    margin-right: 30px; 
    margin-bottom: 10px;
}

::-webkit-scrollbar {
    width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffd54f; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffd54f; 
}


.p-speeddial-button {
    opacity: 0.35;
}


.p-speeddial-button:hover {
    opacity: 1 !important;
}

.p-toolbar {
    background-color: #ffd54f30 !important;
    width: 99.5vw !important;
}

.organization-form {
    zoom: 120%;;
    margin-bottom: 72px !important;
}

.organization-save-button {
    width: 4rem;
    height: 4rem;
    align-items: center;
    border-radius: 100%;
    opacity: 0.5;
}

.organization-save-button:hover {
    opacity: 1;
}

.organization-save-button .p-button-label {
    display: none !important;
}

:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
    animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes custom-progress-spinner-color {
    100%,
    0% {
        stroke: #16697A;
    }
    40% {
        stroke: #489FB5;
    }
    66% {
        stroke: #82C0CC;
    }
    80%,
    90% {
        stroke: #FFA62B;
    }
}

@keyframes custom-progress-spinner-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}