
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agentes</title>
</head>
<body>
    hola
    
    {{#sector}}
    <button>calcular</button>
    {{/sector}}
    
    
    <script>
    
        alert("esto es codigo js");
    //como hacer un request en js GET con query param
    // GET /agente/huella?periodo=2022
    
    </script>
</body>
</html>