<!DOCTYPE html>
<html lang="english">
<head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6 {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 23px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
            data-tag="font"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
            data-tag="font"
    />
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
<div>
    <link
            href="/miembro-organizacion-recomendaciones.css"
            rel="stylesheet"
    />

    <div class="miembro-organizacion-recomendaciones-container">
        <div
                class="miembro-organizacion-recomendaciones-miembro-organizacion-recomendaciones"
        >
            <header class="miembro-organizacion-recomendaciones-header">
                <button class="miembro-organizacion-recomendaciones-button button">
                    Calculadora de HC
                </button>
                <button class="miembro-organizacion-recomendaciones-button1 button">
                    Mi perfil
                </button>
                <h2 class="miembro-organizacion-recomendaciones-text">
                    <span>SAO</span>
                </h2>
                <img
                        alt="sao41071"
                        src="/playground_assets/sao41071-3l8-300w.png"
                        class="miembro-organizacion-recomendaciones-sao4"
                />
                <h3 class="miembro-organizacion-recomendaciones-text02">
                    <span>Seguimiento Ambiental Organizacional</span>
                </h3>
                <img
                        alt="Rectangle81071"
                        src="/playground_assets/rectangle81071-dn3-200h.png"
                        class="miembro-organizacion-recomendaciones-rectangle8"
                />
            </header>
            <span class="miembro-organizacion-recomendaciones-titulo">
            <span>
              Recomendaciones para reducir la huella de carbono organizacional
            </span>
          </span>
            <span class="miembro-organizacion-recomendaciones-subtitulo">
            <span>
              Ayuda a las organizaciones a reducir el impacto ambiental.
            </span>
          </span>
            <span class="miembro-organizacion-recomendaciones-cuerpo">
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac
              feugiat sed lectus vestibulum. Sit amet risus nullam eget felis
              eget nunc lobortis. Integer eget aliquet nibh praesent. Eget
              egestas purus viverra accum lorem ipsum dolor sit. Facilisis magna
              etiam tempor orci eu lobortis elementum nibt scelerisque varius
              morbi. Nisi scelerisque eu ultriceserdiet proin fermentum leo vel.
            </span>
            <br />
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incidi.
            </span>
            <br />
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incidi. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incidi.
            </span>
            <br />
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac
              feugiat sed lectus vestibulum. Sit amet risus nullam eget felis
              eget nunc lobortis. Integer eget aliquet nibh praesent. Eget
              egestas purus viverra accum lorem ipsum dolor sit. Facilisis magna
              etiam tempor orci eu lobortis elementum nibt scelerisque varius
              morbi. Nisi scelerisque eu ultriceserdiet proin fermentum leo
              vel.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incidi.Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incidi. Lorem ipsum dolor
              sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incidi.
            </span>
            <br />
          </span>
            <div class="miembro-organizacion-recomendaciones-compartir">
            <span class="miembro-organizacion-recomendaciones-compartir1">
              Comparte la guía!
            </span>
                <form class="miembro-organizacion-recomendaciones-form"></form>
                <img
                        alt="v2Stroke1015"
                        src="/playground_assets/v2stroke1015-5eyt.svg"
                        class="miembro-organizacion-recomendaciones-comparte"
                />
            </div>
            <div class="miembro-organizacion-recomendaciones-imagenes">
                <img
                        alt="image171239"
                        src="/playground_assets/image171239-0x-400h.png"
                        class="miembro-organizacion-recomendaciones-image17"
                />
                <img
                        alt="image161011"
                        src="/playground_assets/image161011-0wil-500w.png"
                        class="miembro-organizacion-recomendaciones-image16"
                />
                <img
                        alt="image221101"
                        src="/playground_assets/image221101-r6fp-400h.png"
                        class="miembro-organizacion-recomendaciones-image22"
                />
                <img
                        alt="image231102"
                        src="/playground_assets/image231102-1sc-200w.png"
                        class="miembro-organizacion-recomendaciones-image23"
                />
            </div>
        </div>
    </div>
</div>
<script
        data-section-id="header"
        src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
></script>
</body>
</html>